*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
@media (max-width: 400px) {
  nav{
    display: grid;
    place-items: center;
    margin: auto;
    text-align: center;
  }
}
nav{
  gap: 20px;
}
a{
    text-decoration: none;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #11ca66;
    color: #fff;
}
.logo{
    width: 230px;
    height: 90px;
}    
.nav-links a {
    color: #fff;
}
    
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}
    
.menu li:hover {
    background-color: #0fa34f;
    border-radius: 5px;
    transition: 0.3s ease;
}
    
.menu li {
    padding: 5px 14px;
}

.fondo{
    width: 100%;
    height: 100%;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto1{
    position: absolute;
    top: 350px;
    left: 80px;
}

.texto2{
    position: absolute;
    top: 400px;
    left: 70px;
    text-align: left;
}

h1{
    font-weight: 600;
    font-size: 40px;
}

.texto3{
    position: absolute;
    top: 530px;
    left: 70px;
}

.boton{
    position: absolute;
    top: 580px;
    left: 70px;
}

.servicios {  
    margin-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 400px 400px 400px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 300px 1fr;
    gap: 10px 25px;
    grid-auto-flow: row;
    grid-template-areas:
      "imagen1 text1"
      "text2 imagen2"
      "imagen3 text3";
  }
  
  .imagen1 { grid-area: imagen1; }
  
  .text1 {  display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 250px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading1 heading1 heading1"
      "parrafo1 parrafo1 parrafo1";
    grid-area: text1;
  }
  
  .heading1 { grid-area: heading1; }
  
  .parrafo1 { grid-area: parrafo1; }
  
  .text2 {  display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 250px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading2 heading2 heading2"
      "parrafo2 parrafo2 parrafo2";
    grid-area: text2;
  }
  
  .heading2 { grid-area: heading2; }
  
  .parrafo2 { grid-area: parrafo2; }
  
  .imagen2 { grid-area: imagen2; }
  
  .imagen3 { grid-area: imagen3; }
  
  .text3 {  display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 150px 250px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "heading3 heading3 heading3"
      "parrafo3 parrafo3 parrafo3";
    grid-area: text3;
  }
  
  .heading3 { grid-area: heading3; }
  
  .parrafo3 { grid-area: parrafo3; }
  
.imagenes{
    width: 600px;
    height: 300px;
}

.filtros {  
  justify-content: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 300px 300px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 30px 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "fitro1 filtro2 filtro3"
      "boxfiltro boxfiltro2 boxfiltro3";
  }
  
  .fitro1 { grid-area: fitro1;
  display: flex;
  justify-content: center;}
  
  .filtro2 { grid-area: filtro2; 
    display: flex;
    justify-content: center;}
  
  .filtro3 { grid-area: filtro3;
    display: flex;
    justify-content: center; }
  
  .boxfiltro {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tit-filtro1 tit-filtro1 tit-filtro1"
      "text-filtro1 text-filtro1 text-filtro1"
      "text-filtro1 text-filtro1 text-filtro1";
    grid-area: boxfiltro;
  }
  
  .tit-filtro1 { grid-area: tit-filtro1;
  text-align: center; }
  
  .text-filtro1 { grid-area: text-filtro1;
    text-align: center; }
  
  .boxfiltro2 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tit-filtro2 tit-filtro2 tit-filtro2"
      "text-filtro2 text-filtro2 text-filtro2"
      "text-filtro2 text-filtro2 text-filtro2";
    grid-area: boxfiltro2;
  }
  
  .tit-filtro2 { grid-area: tit-filtro2;
    text-align: center; }
  
  .text-filtro2 { grid-area: text-filtro2;
    text-align: center; }
  
  .boxfiltro3 {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tit-filtro3 tit-filtro3 tit-filtro3"
      "text-filtro3 text-filtro3 text-filtro3"
      "text-filtro3 text-filtro3 text-filtro3";
    grid-area: boxfiltro3;
  }
  
  .tit-filtro3 { grid-area: tit-filtro3;
    text-align: center; }
  
  .text-filtro3 { grid-area: text-filtro3;
    text-align: center; }
  .titulofiltros{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
  }
#sobrenos{
  min-height: 70vh;
}
  .sobrenosotros { 
    margin: 50px; 
    justify-content: center;
    display: grid;
    grid-template-columns: 600px 400px;
    grid-template-rows: 200px;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 15px 50px;
    grid-auto-flow: row;
    grid-template-areas:
      "img-sobre text-sobre";
  }
  
  .img-sobre { grid-area: img-sobre; }
  
  .text-sobre {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "tit-sobre-nos tit-sobre-nos tit-sobre-nos"
      "text-sobre-nos text-sobre-nos text-sobre-nos"
      "text-sobre-nos text-sobre-nos text-sobre-nos";
    grid-area: text-sobre;
  }
  
  .tit-sobre-nos { grid-area: tit-sobre-nos; }
  
  .text-sobre-nos { grid-area: text-sobre-nos; }

.imagensobrenos{
  width: 600px;
  height: 400px;
}
  
.contacto {  
  margin-bottom: 10%;
  justify-content: center;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 600px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 300px 1fr;
  gap: 10px 25px;
  grid-auto-flow: row;
  grid-template-areas:
    "imagencontacto formulario";
}

.imagencontacto { grid-area: imagencontacto; }

.formulario { 
  margin-top: 20%;
  grid-area: formulario; }

.form{
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#mensaje{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.enviar{
  color:white;
  background-color: #0fa34f;
  border-color:#0fa34f;
  padding: 5px;
  border-radius: 3px;
}
#contactanos{
  text-align: center;
  margin: 5%;
}

.footer{
  background: #666;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer .footer-izq,
.footer .footer-med,
.footer .footer-der{
  display: inline-block;
  vertical-align: top;
}

.footer .footer-izq{
  width: 40%;
}


.footer .footer-logo{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-med{
  width: 35%;
}

.footer .footer-med p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer .footer-med p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer .footer-med p a{
  color:#11ca66;
  text-decoration: none;;
}

.footer .footer-der{
  width: 20%;
}

.footer .footer-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer .footer-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


.footer .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  margin: 25px;
}